# -----------------------------
# 🐍 Python Artifacts
# -----------------------------
**/__pycache__/
*.ckpt
*.pt
*.log
*.tmp
venv/

# -----------------------------
# 📓 Jupyter & Temp Files
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# 🔒 Env & Secrets
# -----------------------------
.env*
backend/secrets/

# -----------------------------
# 💻 OS & Editor Junk
# -----------------------------
.DS_Store

# -----------------------------
# 🔐 Keys & Certs
# -----------------------------
*.pem

# -----------------------------
# 📄 Static or Media Files
# -----------------------------
*.html
*.png